<!DOCTYPE html>
<body >
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>All About Young DonDon</title>
    <link rel="stylesheet" href="assets/main.css">
  </head>
  <body>
    <header>
        <h1> Donnike Willis</h1>
        <h2> My limited experiences i have that don't include breathing
        </h2>
        <ul>
          <a href="about.html"><li> About</l1></a>
          <a href="project.html"><li> Projects</li></a>
          <a href= "experience.html"><li> Experience</li></a>
          <a href="contact.html"><li> Contact</li><a/>
  </header>
  <section>
  <h1> My Experience</h1>
  <br>
  <h2> School Life </h2>
    <p> Throughout my entre 12 years of being in school. I have seen and experienced a good amount. I didn't think would fly by as fast as it did, but boy am i happy it did! I can go to college and not be surrounded by degenerates and ignorance. To that i say huzzah and i also UwU inside. Of course i've learned many useful things but i can't quite remember most of what i learned. They only return to me when i take a test. For example, the SAT or ACT are times in which everything i've learned returns to my brain and i do good.</p>
  </section>
  <section>
    <h2> Work Life </h2>
    <p> My work life is simple. I had jobs (which most of were in retail), i soon figured out that retail sucks and their workers get paid so little to deal with "Consumers". HOWEVER, I was an excellent employee with great customer service, i just soon figured out retail wasn't for me. I worked at H&M, Children's Place, and American Eagle!</p>
  </section>
    <footer>
      <img src="" alt="">
      <img src="" alt="">
      &copy; Young DonDon
    </footer>
  </body>
</html>
